<div class="modal-header">
    
</div>
<div class="modal-body" ng-controller="LoginController">
    <fieldset>
            <legend>Authentication</legend>
            <p>
                <button class="btn btn-lg btn-primary" ng-click="login('facebook')">Facebook</button>
                <button class="btn btn-lg btn-primary" ng-click="login('twitter')">Twitter</button>
            </p>
        </fieldset>

        
        <p>&nbsp;</p>
        <form role="form">
            <fielset>
                <legend>Email/Password</legend>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>email</label>
                            <input class="form-control" type="email" ng-model="email" />
                        </div>

                        <div class="form-group">
                            <label>password</label>
                            <input class="form-control" type="password" ng-model="pass" />
                        </div>

                        <div class="form-group" ng-show="createMode">
                            <label>confirm pass</label>
                            <input class="form-control" type="password" ng-model="confirm" />
                        </div>

                        <button class="btn btn-primary" ng-click="loginPassword()" ng-hide="createMode">Log In</button>
                        <button class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button>
                        <button class="btn btn-success" ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
                        <button class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
                    </div>
                </div>
            </fielset>
        </form>
        

        <p ng-show="err" class="error">{{err}}</p>
    </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>

<button class="btn btn-default" ng-click="open()">Open me!</button>
<div ng-show="selected">Selection from a modal: {{ selected }}</div>
