<div ng-controller="MainCtrl">
    <div class="jumbotron">
        <h1>Mood Organ</h1>
        <div class="row">
            <div class="col-sm-12">
                <input class="panel col-sm-12" type="search" ng-model="search.$" ng-init="null" placeholder="Search Moods...">
            </div>
        </div>
        <div>
            <ul class="moodlist-animate-container">
                <li class="animate-repeat" ng-repeat="mood in moodlist">
                    [{{$index + 1}}] {{mood.id}}: {{mood.body}} created by {{mood.from}}.
                </li>
            </ul>
        </div>
        <br/>
        <button class="btn-sm btn-primary col-sm-12" data-toggle="modal" data-target="#loginModal">Log on</button>
        <br/>
        <div class="MoodCreation"></div>
    </div>

    <div class="row">
        <div id="messagesDiv" class="col-sm-12">
            <div ng-repeat="mood in moodlist">
                <em>{{mood.from}}</em>
                <br/>{{mood.id}}: {{mood.body}}</div>
        </div>
    </div>
</div>


<login-modal></login-modal>




<script>
// var app = angular.module("myapp", ["firebase"]);
// app.controller('MoodOrganController', function($scope, $firebase) {
//     var ref = new Firebase("https://mood-organ.firebaseio.com/mood-library");
//     $scope.moodlist = $firebase(ref);
//     $scope.addMood = function() {

//         $scope.moodlist.$add({
//             from: $scope.name,
//             id: $scope.idnumber,
//             body: $scope.mood
//         });
//         $scope.mood = "";
//         $scope.idnumber = "";
//     }
// });
// app.filter('MoodSearch', function($scope, $firebase) {

// });
</script>
