<div ng-controller="MainCtrl">
    <div class="moodNav"></div>
    <div class="row">

        <div class="col-sm-4 col-sm-offset-4">
            <div id="search" class="jumbotron main-search">
                <h1>Mood Organ</h1>
                <br/>
                <div id="defaultSearch" class="row collapse in collapseSearch">
                    <input class="form-control" type="search" ng-model="search" placeholder="Search Moods..." />
                </div>
                <br/>
                <div class="moodCreation"></div>
               
                <div class="row">
                    <ul class="moodlist-animate-container list-unstyled">
                        <li class="animate-repeat" ng-repeat="mood in moodlist | orderByPriority | filter:search:strict">
                            [{{$index + 1}}] <b>{{mood.id}}</b>: {{mood.body}} <i>created by <b>{{mood.from}}</b></i>.
                        </li>
                    </ul>
                    <button class="btn-lg btn-danger" data-toggle="" data-target="">Share Mood</button>
                    <button class="btn-lg btn-primary" data-toggle="modal" data-target="#loginModal">Log on</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4">
            <div class="jumbotron featured-mood">
                <h3>Most Shared Mood</h3>
                
                <div class="row">
                    <ul class="moodlist-animate-container list-unstyled">
                        <li class="animate-repeat" ng-repeat="mood in moodlist | orderByPriority | filter:search:strict | limitTo: 1">
                            [{{$index + 1}}] <b>{{mood.id}}</b>: {{mood.body}} <i>created by <b>{{mood.from}}</b></i>.
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="jumbotron featured-mood">
                <h3>Highest Rated Mood</h3>
                
                <div class="row">
                    <ul class="moodlist-animate-container list-unstyled">
                        <li class="animate-repeat" ng-repeat="mood in moodlist | orderByPriority | filter:search:strict | limitTo: 1">
                            [{{$index + 1}}] <b>{{mood.id}}</b>: {{mood.body}} <i>created by <b>{{mood.from}}</b></i>.
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>

    </div>
</div>
<login-modal></login-modal>
