<nav class="navbar navbar-default">
    <ul class="nav nav-pills navbar-left">
        <li class="btn active"><a href="#">Moods</a></li>
        <li class="btn"><a class="btn" data-toggle="collapse" data-parent="#search" ng-href="/creation"></a>Creation</li>
        <li class="btn pull-right"><a href="#"></a>Support</li>
        <li class="btn pull-right"><a href="#"></a>Log on</li>
    </ul>
    <ul class="nav nav-pills navbar-nav navbar-right">
        <li class="btn"><a href="#"></a>{{auth.user.username}}</li>
        <li class="btn"><a href="#"></a>Support</li>
        <li class="btn"><a href="#"></a>Log off</li>
    </ul>
    
</nav>